@font-face {
    font-family: 'Gilroy-Bold';
    src: url('font/Gilroy-Bold.ttf');
    font-weight: 700;
}

*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'Gilroy-Bold';
    background: #363B40;
    color: aliceblue;
}

a{
    font-family: 'Gilroy-Bold';
}

img{
    width: 100%;
    height: 100%;
    display: block;
}

nav{
    top: 0;
    z-index: 9999999;
    --br: 1rem;
}

.bignav{
    display: grid;
    grid-template-columns: 0fr;
    grid-template-rows: 1fr;
    opacity: 0;
    transition: grid-template-columns 2s ease;
    justify-content: center;
    position: fixed;
    width: 100%;
}

.bignav.active{
    grid-template-columns: 1fr;
    opacity: 1;
}

.navbar{
    display: flex;
    grid-row: 1;
    justify-content: space-between;
    z-index: 99999999;
    padding: 2rem 4rem;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    background: rgba(240, 248, 255, 0.3);
    border-bottom-left-radius: var(--br);
    border-bottom-right-radius: var(--br);
}

.navbar > div{
    opacity: 0;
    transition: opacity 0.5s 1.5s ease-in-out;
}

.navbar.active > div{
    opacity: 1;
}

.logo{
    letter-spacing: 1px;
    font-size: 2rem;
}

.logo > span{
    color: #7BA8EB;
}

.nav-links>a{
    text-decoration: none;
    color: aliceblue;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.nav-links{
    display: flex;
    gap: 3rem;
    align-items: center;
}

.navbtn{
    background: #363B40;
    color: aliceblue;
    padding: 1rem 2rem;
    border-radius: 10rem;
    border: 0;
    font-family: 'Gilroy-Bold';
    letter-spacing: 1px;
    font-size: 1rem;
    position: relative;
    cursor: pointer;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.content,.bannerimg{
    grid-row: 1;
    grid-column: 1;
}

.wrapper > .content{
    z-index: 200;
    font-size: clamp(3rem,10vw,7rem);
    padding-inline: 4rem;
    justify-self: left;
    width: fit-content;
    align-self: center;
}

/* Banner Images */
.bannerimg > img{
    mix-blend-mode: overlay;
    mask-image: linear-gradient(to right, black,white);
    position: relative;
}

.bannerimg{
    position: relative;
}

.gdir{
    --_gdir: left;
}

.content > span{
    color: #7BA8EB;
}

.wrapper > .t-right{
    text-align: end;
    justify-self: right;
}

.mw-10{
    max-width: 10ch;
}

.mw-7{
    max-width: 7ch;
}

.mw-15{
    max-width: 15ch;
}

.mw-17{
    max-width: 17ch;
}

.wrapper > .pricing{
    padding-inline: 0;
    text-align: center;
    justify-self: center;
    font-size: 10rem;
}

footer{
    background: #1B1D20;
    text-align: center;
    padding-block: 3rem;
}

footer > .logo{
    font-size: 2rem;
}

footer > .tncpp{
    color: aliceblue;
    font-size: 1.5rem;
}

.tncpp > a{
    color: #7BA8EB;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.2rem;
}